.DiceBoard-overlay {
    background: black;
    position: absolute;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid grey;
    box-shadow: rgba(0,0,0,0.3) 10px 14px 5px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.DiceBoard-overlay:active {
    box-shadow: rgba(0,0,0,0.3) 5px 9px 5px;
}