.Chatbox {
    display: flex;
    flex-direction: column;
    border-left: 2px dashed gray;
    background: rgba(255,255,255, 0.2);
    max-height: 100vh;
}

.Chatbox-contents {
    padding: 0 10px;
    overflow: auto;
    flex: 1 1 1px;
}

.Chatbox-bar {
    padding: 10px;
    flex-shrink: 1;
    background: rgba(65, 105, 225, 0.4);
    display: flex;
    border-top: 1px solid lightgray ;
}

.Chatbox-submit {
    background: darkslategrey;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    cursor: pointer;
}

.Chatbox-input {
    min-width: 240px;
    height: 2em;
    flex-grow: 1;
    padding: 5px 0;
}

.Chatbox-entry {
    text-align: left;
    padding: 3px 10px;
}

.Chatbox-entry.bubble{
    border: #333 1px solid;
    border-radius: 10px;
    background-color: rgba(61, 173, 248, 0.2);
    margin: 10px 0;
    padding: 8px 10px 5px 10px;
}

.Chatbox-entry.bubble:not(.self):nth-of-type(1) h2{
    color: red;
}
.Chatbox-entry.bubble:not(.self):nth-of-type(6) h2{
    color: red;
}
.Chatbox-entry.bubble:not(.self):nth-of-type(7) h2{
    color: red;
}
.Chatbox-entry.bubble:not(.self):nth-of-type(8) h2{
    color: red;
}
.Chatbox-entry.bubble:not(.self):nth-of-type(9) h2{
    color: red;
}
.Chatbox-entry.bubble:nth-of-type(10) h2{
    color: red;
}

.Chatbox-entry.self{
    background-color: rgba(23, 109, 66, 0.432);
}

.Chatbox-entry-handle{
    font-size: 0.9rem;
   
     margin: 0;
}

.Chatbox-entry p {
    position: relative;
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 0;
    

}

.Chatbox-entry p.bot {
    font-family: 'lucida console', monospace;
    font-size: 0.8rem;
}

.Chatbox-entry .tag {
    display: inline-block;
    font-size: 0.7em;
    line-height: 1.2em;
    border: 1px solid white;
    background: seashell;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 1px 4px;
    margin-right: 0.7em;
}

.Chatbox-entry .Img {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 10px;
    background: saddlebrown;
    float:left;
    margin-right: 0.5em;
    text-align: center;
}